---
import type { experience } from "../interfaces/interfaces";
import Experience from "./Experience.astro";

const { experiences } = Astro.props;

---



<div id="experience" class="flex flex-col">
    <h1 class="h-20 text-5xl text-center bg-gradient-to-r from-cyan-500 to-purple-500 text-transparent bg-clip-text mb-4">My Experience⚒️</h1>
        {experiences.map((exp: experience) => (
          <Experience experience={exp}/>         
        ))}
</div>