---

const { experience } = Astro.props;

---



<div class="flex flex-col text-center ml-6 mr-6 mb-10 md:ml-[25%] md:mr-[25%]">
    <h2 class="text-xl font-bold text-cyan-900 mb-4">{experience.years}</h2>
    <h1 class="text-3xl font-bold text-cyan-700 mb-4">{experience.company}</h1>
    <p class="text-xl text-center mx-auto">{experience.description}</p>
</div>
