---
// Footer.astro
---

<footer class="bg-gray-800 text-white py-6">
      <div class="flex flex-col md:flex-row justify-between items-center mx-auto px-4">
        <div class="text-center md:text-left">
          <p class="text-xl font-bold">&copy; 2024 Alexander Villalvir. All rights reserved.</p>
        </div>
        <div class="mt-4 md:mt-0">
          <ul class="flex space-x-4 text-xl font-bold">
            <li>
              <a href="https://twitter.com/yourprofile" target="_blank" class="text-gray-400 hover:text-white">
                Twitter
              </a>
            </li>
            <li>
              <a href="https://github.com/yourprofile" target="_blank" class="text-gray-400 hover:text-white">
                GitHub
              </a>
            </li>
            <li>
              <a href="https://linkedin.com/in/yourprofile" target="_blank" class="text-gray-400 hover:text-white">
                LinkedIn
              </a>
            </li>
          </ul>
        </div>
      </div>
  </footer>