<div class="flex flex-col text-center items-center mt-10 mb-20">
  <h2
    class="text-5xl bg-gradient-to-r from-cyan-500 to-gray-800 text-transparent bg-clip-text mb-5"
  >
    Jose Alexander Villalvir<br>
    I am a full-stack developer
  </h2>

  <p class="text-2xl mb-10">
    I like to build amazing web apps to facilitate user experiences <br /> and help
    people to achieve their goals by improving their processes.🚀🤖
  </p>
  <div class="flex mb-10 text-3xl text-bold">
    <label>Email:</label>
    <a  href="mailto:javc1603@gmail.com" class="underline">javc1603@gmail.com</a>
  </div>
  <button
    id="linkedInButton"
    class="bg-gray-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >Lets work together!</button
  >
  
</div>

<script>
    document.getElementById('linkedInButton')!.addEventListener('click', function() {
      window.open('https://www.linkedin.com/in/alexander-villalvir-a85584164/', '_blank');
    });
  </script>
