<div class="flex flex-col text-center items-center mt-10">
    <h2 class="text-5xl bg-gradient-to-r from-cyan-500 to-gray-800 text-transparent bg-clip-text mb-5">Jose Alexander Villalvir</h2>
    <h1 class="text-8xl bg-gradient-to-r from-cyan-500 to-gray-800 text-transparent bg-clip-text ">I am a full-stack developer</h1>
    <p class="text-2xl mb-10">I like to build amazing web apps to facilitate user experiences <br> and help people to achieve their goals by improving their processes.🚀🤖</p>
    <button class=" bg-gray-700 text-white rounded-full w-72 py-2 px-4 font-bold">Lets work together!</button>
</div>
