---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Personal Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
	<meta name="image" content="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bbe2f157-e46c-4b1a-9cb8-d73499b69a58/di8gb4w-0786071c-5749-49a8-9124-d9f244e615e1.png/v1/fit/w_700,h_700,q_70,strp/av_logo__1__by_pachi3p_di8gb4w-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzAwIiwicGF0aCI6IlwvZlwvYmJlMmYxNTctZTQ2Yy00YjFhLTljYjgtZDczNDk5YjY5YTU4XC9kaThnYjR3LTA3ODYwNzFjLTU3NDktNDlhOC05MTI0LWQ5ZjI0NGU2MTVlMS5wbmciLCJ3aWR0aCI6Ijw9NzAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.cMFzeIsuIYo6MkS1oigti_km3ZbKiVE0ftQXwA5Byns" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <Footer />
  </body><style is:global>
    html {
      scroll-behavior: smooth;
    }
  </style>
</html>
