---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
	<meta name="image" content="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bbe2f157-e46c-4b1a-9cb8-d73499b69a58/di8gabu-cb341ceb-ceb2-416c-bc01-c81efff38eac.png/v1/fit/w_406,h_207,q_70,strp/screenshot_2024_09_24_224701_by_pachi3p_di8gabu-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjA3IiwicGF0aCI6IlwvZlwvYmJlMmYxNTctZTQ2Yy00YjFhLTljYjgtZDczNDk5YjY5YTU4XC9kaThnYWJ1LWNiMzQxY2ViLWNlYjItNDE2Yy1iYzAxLWM4MWVmZmYzOGVhYy5wbmciLCJ3aWR0aCI6Ijw9NDA2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.lTk_glj7EHzuKxis6Soh3dGIlnOZLjvPvFzlo-elEmA" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <Footer />
  </body><style is:global>
    html {
      scroll-behavior: smooth;
    }
  </style>
</html>
